body{
   margin: 1em;
}
.header-content {
   text-align: start;
   background-color: #343a40;
   height: 100px;
   width: 100%; 
}
#paragraph-header{
   padding: 30px 100px 30px 30px;
   font-family: 'Times New Roman', serif;
}
.paragraph-white {
   color: white;
}
nav {
   background-color: black;
   height: 50px;
   width: 100%; 
   max-height: 50px;
   display: flex;
   justify-content: space-around;
}
a{
   padding: 1em;
   font-family: "Roboto", sans-serif;
}
.center-main{
   display: flex;
   height: 250px;
   width: 100%; 
   display: flex;
   align-items: stretch;
   float: start;
   font-family: "Open Sans", sans-serif;
}
.main-content{
   width: 70%;
   background-color: gray;
   padding: 15px 100px 30px 15px;
}
.aside-content{
   width: 30%;
   background-color: white;
   padding: 15px 100px 30px 15px;
}
footer{
   background-color: #343a40;
   text-align: center;
   height: 300px;
   width: 100%; 
}
.footer-paragraph{
   padding: 1em;
   font-family: 'Times New Roman', serif;
}