@media screen and (min-width: 500px) {
.nav-list {
        display: flex;
}
.nav-list li {
    display: block;
    /* change state in small view */
    flex: 1 1 100%;
}
.nav-list a {
    text-align: center;
}
#menu {
    display: none;
}
}