.sections{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1em auto 1em auto 1em;
    /*display: flex;
        /* Ativa o Flexbox */
        /*justify-content: space-between;
        /* Espaçamento entre as seções */
       /* gap: 20px;*/
}
/*About me*/
.title-about{
    grid-column: 1/4;
    grid-row: 1/2;
}
.about{
    grid-column: 1/3;
    grid-row: 2/3;
}
.photo{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 150px;
    height: auto;
}
/*About the country */
.title-country{
    grid-column: 1/4;
    grid-row: 3/4;
}
.flag{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 250px;
    height: auto;
}
.argentina{
    grid-column: 2/4;
    grid-row: 4/5;
}