
.header-content {
   text-align: start;
   background-color: #343a40;
   height: 200px;
   width: 100%; 
}
.paragraph-white {
   color: white;
}
nav {
   background-color: black;
   height: 50px;
   width: 100%; 
   display: flex;
   padding-bottom: 50px;
   justify-content: space-around;

}
footer{
   background-color: #343a40;
   text-align: center;
   height: 200px;
   width: 100%; 
}