body{
    font-family: 'Roboto', sans-serif;
}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 10px solid #e5e5e5;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;
}
section{
    padding: 1rem;
    background-color: #606c38;
    color: white;
}
header,h2{
    text-align: center;
}